body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cuadro {
    background-color: #444;
    width: 450px;
    height: 650px;
    position: relative;
    
    border-radius: 30px;
    font-size: 30px;
}

#pantalla {
    width: 370px;
    height: 90px;
    position: relative;
    left: 25px;
    top: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;      
    padding-right: 20px;
    background-color: black;
    color: #22C55E;
    font-family: monospace;

}

.con-botones {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
}
.botones {
    width: 80px;
    height: 80px;
    background-color: #3B82F6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 70px;
    left: 20px;
}

#igual{
    background-color: #22C55E;
    width: 280px;
    position: relative;
    top: 60px;
    left: 120px;
}
#boton{
    left: 220px;
    top: 60px;
}
.botones:active {
    transform: scale(0.9);
    background-color: #2563EB;
}
#historial {
     background-color: #111827;
    color: white;
    position: relative;
    left: 450px;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    bottom: 560px;
}
#historial div {
    border-bottom: 1px solid #444;
    padding: 5px 0;
}